<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>name</key>
		<string>待办</string>
		<key>isShow</key>
		<string>1</string>
		<key>class</key>
		<string>TodoViewController</string>
		<key>index</key>
		<string>0</string>
	</dict>
	<key>1</key>
	<dict>
		<key>name</key>
		<string>邮件</string>
		<key>isShow</key>
		<string>1</string>
		<key>class</key>
		<string>EmailViewController</string>
		<key>index</key>
		<string>1</string>
	</dict>
	<key>2</key>
	<dict>
		<key>name</key>
		<string>消息</string>
		<key>isShow</key>
		<string>1</string>
		<key>class</key>
		<string>MessageViewController</string>
		<key>index</key>
		<string>2</string>
	</dict>
	<key>3</key>
	<dict>
		<key>name</key>
		<string>通讯录</string>
		<key>isShow</key>
		<string>1</string>
		<key>class</key>
		<string>ContactViewController</string>
		<key>index</key>
		<string>3</string>
	</dict>
	<key>4</key>
	<dict>
		<key>name</key>
		<string>通知</string>
		<key>isShow</key>
		<string>1</string>
		<key>class</key>
		<string>NoticeViewController</string>
		<key>index</key>
		<string>4</string>
	</dict>
	<key>5</key>
	<dict>
		<key>name</key>
		<string>请假</string>
		<key>isShow</key>
		<string>1</string>
		<key>class</key>
		<string>LeaveViewController</string>
		<key>index</key>
		<string>5</string>
	</dict>
	<key>6</key>
	<dict>
		<key>name</key>
		<string>日程</string>
		<key>isShow</key>
		<string>1</string>
		<key>class</key>
		<string>ScheduleViewController</string>
		<key>index</key>
		<string>6</string>
	</dict>
</dict>
</plist>
